@page "/logout"
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await LocalStorage.RemoveItemAsync("WireguardApiToken");
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("/");
    }
}
